body
{
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orangered;
}

li {
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
}

li a:hover{
    background-color: orange;
}

.images{
    height: auto;
    max-width: 100%;
}

h1{
    font-style: italic;
}

footer{
    background-color: orangered;
    padding: 10px;
}