body
{
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orangered;
}

li {
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
}

li a:hover{
    background-color: orange;
}

.images{
    height: auto;
    max-width: 100%;
    margin-top: 15px; 
}

h1{
    font-style: italic;
    font-size: 3em;
}

p{
    text-indent:1em;
    font-size: 1.25em;
}

footer{
    margin-top: 8em;
    background-color: orangered;
    padding: 10px;
}